.signup-container {
    display: flex;
    min-height: 100vh;
}

.signup-left {
    flex: 1;
    background-color: #b4511f;
    color: #fff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.signup-left .logo {
    font-size: 2rem;
    font-weight: bold;
    margin-top: -150px;
}

.signup-left .welcome-text {
    margin-top: 1rem;
    font-size: 20px;
    max-width: 500px;
    margin-top: 5px;
}

.signup-illustration {
    margin-top: 10px;
    width: 80%;
    max-width: 300px;
    margin-left: 40px;
}

.signup-right {
    flex: 1;
    padding: 4rem;
    background-color: #fff;
}

.signup-form input,
.signup-form select {
    display: block;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-btn {
    background-color: #000;
    color: #fff;
    padding: 0.9rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
   transition: all 0.3S ease;
    cursor: pointer;
}
.signup-btn:hover {
  background-color: #ffffff; /* Darker orange on hover */
  color: #000000;
  transition: 0.3s;   /* Slight zoom-in effect */
  border: 1px solid black;
}


.role-pair {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.add-role {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.terms {
    display: flex;
    align-items: center;
    
    margin-top: 1rem;
    margin-left: -500px

}
 
.box{
    margin-right: -490px;
    margin-top: 1rem;
}



.terms-text {
    text-align: left;
    font-size: 10px;
    color: #000000;
     
     
}