.events-hero {

  background-size: cover;
  background-position: center;
  padding: 4rem 2rem;
  text-align: center;
  color: #000000;
}



.events-heropast {
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
}

.view-past-wrapper {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.view-past-button {
  background-color: #FDEBDA;
  color: black;
  border: none;
  padding: 0.6rem 1.5rem;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-past-button:hover {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  color: #fff;
}

@media (max-width: 768px) {

   .events-hero {
    height: 180px;
    padding: 2rem 1rem;
  }
  .events-hero h1 {
    font-size: 20px !important;
    padding: 0.2rem 0.6rem !important;
  }

  .events-heropast{
    font-size: 10px;
  }
}
