.promo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.promo-image img {
  max-width: 250px;
  height: auto;
}

.promo-text {
  max-width: 500px;
}

.promo-label {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0.1rem;
  font-family: Poppins;
 
}

.promo-heading {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1rem;
  font-family: Poppins;
}

.promo-description {
  font-size:12px;
  color: #767373;
  margin-bottom: 1.5rem;
  font-family: Poppins;
}

.promo-button {
  background-color: black;
  color: white;
  padding: 0.5rem 1.2rem;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: Poppins;
  transition: background-color 0.3s ease;
}

.promo-button:hover {
  background-color: #EAD8B1;
  border-radius: 1px solid black;
  border-color: #000;
  color: #000;
}
