.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  font-family: 'Poppins', sans-serif;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* More specific rule using the custom class */
.custom-calendar .react-calendar__tile--active {
  background-color: #d1f0d1 !important;
  color: rgb(31, 167, 7) !important;
  border-radius: 10px;
}

/* Past Event (Red background) */
.custom-calendar .past-event {
  background-color: #f7d8d8 !important;
  color: rgb(222, 1, 1) !important;
  border-radius: 10px;
}

 /* Event date highlights */
.upcoming-event {
  background-color: #d4f4dd; /* baby green */
  border-radius: 12px;
}

.past-event {
  background-color: #f7d6d6; /* baby red */
  border-radius: 12px;
}
